{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Interface</title>
    <link rel="stylesheet" type="text/css" href="{% static 'race/style/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'race/style/trackdesign.css' %}">
    <script src="{% static 'race/script/jQuery.js' %}"></script>
    <script src="{% static 'race/script/trackdesign.js' %}"></script>
    

</head>
<body>
    <div class="page1">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'race/sources/logo.png' %}" alt="Logo"></a>
        </div>
        <div class="Nav">
            <ul>
                <li><a class="button" href="{% url 'raceconfig' %}"> <p class="textmiddle">Race Settings</p></a></li>
                <li><a class="button active" href="{% url 'griddesign' %}"><p class="textmiddle">Grid Design</p></a></li>
                <li><a class="button" href="{% url 'index' %}"><p class="textmiddle">Overview</p></a></li>
            </ul>
        </div>

        <div id="TrackDesign">
             <!-- TRACK TOOLBAR -->
            <div id="tracks" draggable="false"> 
                <div id="trackbarTitle" draggable="false"> TRACK-TOOLBAR</div>
                <table>
                <tr>
                    <td>
                    <div class="ToolTrackImageDiv" draggable="false">
                        <button id="drawShortCurveLeftButton" class="TrackImageButton" draggable="false">
                            <img id="TrackShortCurveL"  class="TrackImageInButton" src="{% static 'race/trackpics/shortCurve_l.png' %}" alt="shortCurveLeft" draggable="false"/>
                        </button>
                    </div>
                    </td>

                    <td>
                        <div class="ToolTrackImageDiv" draggable="false">
                            <button id="drawShortCurveRightButton" class="TrackImageButton" draggable="false">
                                <img id="TrackShortCurveR"  class="TrackImageInButton" src="{% static 'race/trackpics/shortCurve_r.png' %}" alt="shortCurveLRight" draggable="false"/>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                    <div class="ToolTrackImageDiv" draggable="false">
                        <button id="drawMiddleCurveLeftButton" class="TrackImageButton" draggable="false">
                            <img id="TrackMiddleCurveL"  class="TrackImageInButton" src="{% static 'race/trackpics/middleCurve_l.png' %}" alt="middleCurveLeft" draggable="false"/>
                        </button>
                    </div>
                    </td>

                    <td>
                        <div class="ToolTrackImageDiv" draggable="false">
                            <button id="drawMiddleCurveRightButton" class="TrackImageButton" draggable="false">
                                <img id="TrackMiddleCurveR"  class="TrackImageInButton" src="{% static 'race/trackpics/middleCurve_r.png' %}" alt="middleCurveRight" draggable="false"/>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="ToolTrackImageDiv" draggable="false">
                            <button id="drawStraightButton" class="TrackImageButton" draggable="false">
                                <img id="TrackStraight" class="TrackImageInButton" src="{% static 'race/trackpics/straight.png' %}" draggable="false"/>
                            </button>
                        </div>
                    </td>

                    <td>
                        <div class="ToolTrackImageDiv" draggable="false">
                            <button id="drawStartButton" class="TrackImageButton" draggable="false">
                                <img id="TrackStart" class="TrackImageInButton" src="{% static 'race/trackpics/start.png' %}" draggable="false"/>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ToolTrackImageDiv" draggable="false">
                            <button id="drawShortStraightButton" class="TrackImageButton" draggable="false">
                                <img id="TrackShortStraight" class="TrackImageInButton" src="{% static 'race/trackpics/shortstraight.png' %}" draggable="false"/>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
            <div id="TrackDiv">
                <canvas id="TrackCanvas" width="800px" height="700px">
                    Sorry, Your Browser does not support Canvas
                </canvas>
                <!-- <table id="targetTable" draggable="false">
                </table> -->
            </div>

            <div id="buttonsContainer" draggable="false">
                <div id="buttonTitle" draggable="false"> Controller </div>
                    <!-- <div class="targetButtonsContainer">
                        <button id="rotateLeftButton" class="userButton" draggable="false">Rotate Left</button>
                        <button id="rotateRightButton" class="userButton" draggable="false">Rotate Right</button>
                    </div> -->
                    <input id="trackNameBox" type="text" name="name"/>
                    <div class="targetButtonsContainer">
                        <button id="removeButton" class="userButton" draggable="false">Remove</button>
                        <button id="removeAllButton" class="userButton" draggable="false">Clear Track</button>
                    </div>               
                    <div class="targetButtonsContainer">
                        <button id="validateButton" class="userButton" draggable="false">Validate</button>
                        <button id="sendButton" class="userButton" draggable="false">Save</button>
                    </div>
                    <div class="targetButtonsCenterContainer">
                        <button id="CanvasContentUpButton" class="userButton" draggable="false">↑</button>
                    </div>
                    <div class="targetButtonsContainer">
                        <button id="CanvasContentLeftButton" class="userButton" draggable="false">←</button>
                        <button id="CanvasContentRightButton" class="userButton" draggable="false">→</button>
                    </div>
                    <div class="targetButtonsCenterContainer">
                        <button id="CanvasContentDownButton" class="userButton" draggable="false">↓</button>
                    </div>
                    <div class="targetButtonsContainer">
                        Show Helplines<input type="checkbox" id="ShowLineCheckBox" checked> 
                        Show Images<input type="checkbox" id="ShowImageCheckBox" checked>
                    </div>
                <div id="infoButtonContainer">
                <span id=infoText></span>
            </div>
            </div>
        </div>
    </div>
</body>
</html>