{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Interface</title>
    <link rel="stylesheet" type="text/css" href="{% static 'race/style/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'race/style/Overview.css' %}">

</head>
<body>
    <div class="page1">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'race/sources/logo.png' %}" alt="Logo"></a>
        </div>
        <div class="Nav">
            <ul>
                <li><a class="button" href="{% url 'raceconfig' %}"> <p class="textmiddle">Race Settings</p></a></li>
                <li><a class="button" href="{% url 'griddesign' %}"><p class="textmiddle">Grid Design</p></a></li>
                <li><a class="button active" href="{% url 'index' %}"><p class="textmiddle">Overview</p></a></li>
            </ul>
        </div>
        <div id="trackParts">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</body>
</html>

