{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Interface</title>
    <link rel="stylesheet" type="text/css" href="{% static 'race/style/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'race/style/raceConfiguration.css' %}">
    <script src="{% static 'race/script/jQuery.js' %}"></script>
    <script src="{% static 'race/script/raceConfiguration.js' %}"></script>
</head>
<body>
    <div class="page1">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'race/sources/logo.png' %}" alt="Logo"></a>
        </div>
        <div class="Nav">
            <ul>
                <li><a class="button active" href="{% url 'raceconfig' %}"> <p class="textmiddle">Race Settings</p></a></li>
                <li><a class="button" href="{% url 'griddesign' %}"><p class="textmiddle">Grid Design</p></a></li>
                <li><a class="button" href="{% url 'index' %}"><p class="textmiddle">Overview</p></a></li>
            </ul>
        </div>
        <div class="content">
            <p id="diffDropDown">
                Difficulty: 
                <select name="Difficulty" id="difficulty">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                    <option value="unbeatable">Unbeatable</option>
                </select>
            </p>
            <p id="rounds">
                Rounds: 
                <input type="number" id="roundCounts" name="Rounds"/>
            </p>
            <table id="trackList">
                <caption>
                    Your recent tracks.
                </caption>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Erstelldatum</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if latest_track_list %}
                        {% for track in latest_track_list %}
                            <tr>
                                <td>{{ track.id }}</td>
                                <td>{{ track.track_name }}</td>
                                <td>{{ track.track_date }}</td>
                                
                                <td><input type="button" id="{{ track.id }}" value="Load Configuration" onclick="startRace(this.id)"/></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p>No Tracks are available.</p>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>