.page1 {
	height: 100%;
	width: 100%;
}

#wrapper {
	overflow: hidden;
}

.logo {
	margin-top: -40px;
	margin-left: 70px;
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.Nav {
	position: static;
	float: right;
}

ul {
	list-style-type: none;
	margin: 25px 10px;
	padding: 0;
	overflow: hidden;
}

li {
	border-radius: 5px;
	float: right;
	background-color: #ebebeb;
	border-right: 1px solid white;
	text-align: center;
}

li a {
	height: 93px;
	width: 300px;
	display: inline-flex;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	vertical-align: middle;
	margin: auto;
}

.textmiddle {
	margin: auto;
	width: 50%;
	padding: 10px;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-style: unset;
	color: #2b2b2b;
}

/* Change the link color to #111 (black) on hover */
li a:hover,
.active {
	border-radius: 5px;
	background-color: #ffc957;
}
