#trackList {
	overflow-y: auto;
}

#trackList th,
#trackList td {
	padding: 15px;
	text-align: left;
}

#trackList td {
	cursor: pointer;
	border: 1px solid black;
}

.selected {
	background-color: #2f3679;
	color: #fff;
}

#rounds {
	text-align: left;
}
