body {
	background-image: url("../images/background_startGame.jpg");
	height: 98vh;
}

.Counter {
	height: 100%;
	width: 100%;
	color: #e4e4e4;
	font-family: Arial, Helvetica, sans-serif;
	display: grid;
	grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
	grid-template-rows: 10% 60% 20% 10%;
}

#display,
#counter {
	width: 100%;
	font-size: 72px;
	text-align: center;
	margin: 100px 0 0 0;
}

#font {
	width: 100%;
	font-size: 25px;
	text-align: center;
	margin: 10px 0 10px 0;
}

.button {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	color: black;
	background-color: #ebebeb;
	text-decoration: none;
	font-size: 22px;
	border-radius: 3px;
}
.button:hover {
	background-color: #ffc957;
}

.button#startStop {
	grid-row: 3/4;
	grid-column: 4/5;
	margin: 15% 5% 15% 40%;
}
.button#reset {
	grid-row: 3/4;
	grid-column: 5/6;
	margin: 15% 40% 15% 5%;
}
.button#emergency {
	grid-row: 3/4;
	grid-column: 2/3;
	margin: 15% 15% 15% 15%;
}

.show {
	grid-column: 2/6;
	grid-row: 2/3;
}
