body {
	font-family: sans-serif;
	font-size: 0.8rem;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* CANVAS START */
#TrackDiv {
	float: left;
	min-height: 200px;
	min-width: 200px;
	width: 800px;
	height: 700px;
	border: dashed 4px #888;
	/* padding: 10px;  */
	margin: 20px;
}

#TrackCanvas {
	width: 90%;
	height: 90%;
}

/* CANVAS END */

.target {
	float: left;
	width: 80px;
	height: 80px;
	position: relative;
}

.ToolTrackImageDiv {
	float: left;
	border: thin solid #999;
	border-radius: 5px;
	height: 80px;
	width: 80px;
}

.TrackImageButton {
	width: 100%;
	height: 100%;

	border: thin solid #999;
	border-radius: 5px;
}

.TrackImageInButton {
	width: 100%;
	height: 100%;
}

#tracks {
	float: left;
	min-width: 170px;
	border: solid 4px #888;
	margin: 20px;
	background-color: rgb(245, 240, 240);
}
.track {
	float: left;
	border: thin solid #999;
	border-radius: 5px;
	height: 80px;
	width: 80px;
}

#trackTargets {
	float: left;
	width: 180px;
}
.trackTarget {
	border: thin solid #999;
	border-radius: 5px;
	height: 80px;
	width: 80px;
	/* padding: 0.5em;
    margin: 0.5em; */
}

.track-image {
	float: left;
	height: 100%;
	width: 100%;
}

/* BUTTON */
#buttonsContainer {
	float: left;
	height: auto;
	width: auto;
	border: solid 4px #888;
	padding: 20px;
	background-color: #888;
	margin: 20px;
}

.userButton {
	width: 100px;
	height: 50px;
}

.targetButtonsContainer {
	margin: 20px;
}

.targetButtonsCenterContainer {
	margin: 20px;
	text-align: center;
}

#functionalButtonContainer {
	margin: 20px;
}

#infoText {
	margin: 10px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: rgb(0, 0, 0);
}
